<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Internet permission for downloading documents from URLs -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- For reading document files -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- For Android 11+ folder watching with FileObserver -->
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <application
        android:name=".ChatApplication"
        android:largeHeap="true"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ChatApp">
        <activity
            android:name="bisman.thesis.qualcomm.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="bisman.thesis.qualcomm.MainComposeActivity"
            android:theme="@style/Theme.ChatApp" />

        <activity
            android:name="bisman.thesis.qualcomm.Conversation"
            android:parentActivityName="bisman.thesis.qualcomm.MainActivity" >
        </activity>

        <uses-native-library
            android:name="libadsprpc.so"
            android:required="false" />
        <uses-native-library
            android:name="libcdsprpc.so"
            android:required="false" />
    </application>
</manifest>